.sidebar
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    background: #fff
    height: 50vh

.filter-actions
    display: flex
    flex-direction: row
    height: 3rem
    