.sidebar
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    background: #fff
    width: 21rem
    padding: 1rem

.filter-actions
    display: flex
    flex-direction: row
    height: 3rem
    
.data-toggle
    display: flex
    flex-direction: column
    