@import 'sass/Colors'

.dashboard-container
    display: grid
    height: 100%
    width: 100%
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr))
    grid-template-rows: repeat(3, 1fr)
    grid-auto-flow: dense
    grid-gap: 1rem
    scrollbar-color: #eee #fff
    scrollbar-arrow-color: #fff

.dashboard-item
    padding: 1rem
    background-color: #fff
    border-radius: 3rem
    transition: 150ms
    display:flex
    align-items: center
    justify-content: center
    border-top-width: 20px !important
    cursor: pointer

    &:hover
        // grid-row: span 2

.detail-link
    color: $primary
    cursor: pointer
