.loader,
.loader:after
  border-radius: 50%
  width: 9rem
  height: 9rem

.loader
  border: 1rem solid rgba(0,0,0,0.5)
  border-left: 1rem solid #fff
  -webkit-animation: load8 1s infinite linear
  animation: load8 1s infinite linear

@-webkit-keyframes load8
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
  

@keyframes load8
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
  

